// ==========================================================================
// ABSTRACTS / VARIABLES / #BORDER
// ==========================================================================

$border-width-thin: 1px;
$border-width-thick: 4px;

$border-radius-default: 6px;