// ==========================================================================
// ABSTRACTS / VARIABLES / #BREAKPOINTS
// ==========================================================================

$mq-breakpoints: (
    mobile: 20em, // 320px
    tablet: 40.0625em, // 641px
    desktop: 48.0625em, // 769px
    large-desktop: 61.875em // 990px
);