// ==========================================================================
// ABSTRACTS / VARIABLES / #COLORS
// ==========================================================================

$color-white: #fff;

$color-primary: #161F30;
$color-secondary: #273756;

$color-header-title: #fff;

$color-cta: #FFC96E;
$color-cta-action: #f8d18e;

$color-dataset-01-bg: #EBF3F5;
$color-dataset-01-border: #B4BABC;

$color-dataset-02-bg:#F3EBF7;
$color-dataset-02-border: #B6B0B9;

$color-dataset-row-border: #CBD1D5;

$default-text-color: #212b32;