// ==========================================================================
// ABSTRACTS / VARIABLES / #TYPOGRAPHY
// ==========================================================================

$font-family-display: 'Rubik', sans-serif;
$font-family-body: 'Rubik', sans-serif;

$font-family-fallback: Arial, Sans-serif !default;

$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-display: 800;

$base-font-size: 16px;
$base-line-height: 1.117;